h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.go-back{
  color: black;
}
.go-back:hover{
  color: blue;
}

.section{
  margin-top: 30px;
  max-width: 500px;
  height: 160px;
  background-color: aquamarine;
  padding: 8px;
}

.section input{
  width: 272px;
  max-height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 77px;
      outline: 0 !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
}
.section input:hover{
border-color: #000;
}

.section input:active {
  border-color: #4E75FF;
}

.section input:disabled{
  background-color: #CFCFCF;
  border-color: #808080;
}

.section button{
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 42px;
  border: none;
  background-color: #cfcfcf;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4E75FF;
    color: #fff;

}

.section button:hover{
  background-color: #6C8CFF;
}

.section button:disabled {
  color: #989898;
  background-color: #CFCFCF;
}

.timer{ 
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
  margin: auto;
}

.timer .field{
  display: flex;
  flex-direction: column;
}

.timer .field .value{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.timer .field .label{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-align: center;
}